  <body id="top">
    <%# HEADER %>
    <%= render 'home/partials/header'%>
    <div class="page-content">
      <div class="container">
<div class="cover shadow-lg bg-white">
    <%# FRAMES INFORMATION %>
    <%= render 'home/partials/frames'%>
    <%# MY INFORMATION %>
    <%= render 'home/partials/infor'%>
  <hr class="d-print-none"/>
    <%# SKILL INFORMATION %>
    <%= render 'home/partials/skill'%>
  <hr class="d-print-none"/>

  <div class="page-break"></div>
  <%# EDUCATION %>
    <%= render 'home/partials/education'%>
  <hr class="d-print-none"/>
  <%# PICTURES SLIDE SHOW %>
    <%= render 'home/partials/slideShow'%>
  </body>
  